.hero {
  height: 100vh;
  view-timeline: --hero-view;
}
.hero-inner {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  /* mix-blend-mode: hard-light; */
}

@supports (animation-timeline: view()) {
  .hero {
    height: 150vh;
  }

  .hero .front-video {
    animation: both frontVideoClipPath, both frontVideoBorder;
    animation-timeline: --hero-view;
    animation-range: exit-crossing;
  }

  .hero .front-video video {
    color: rgb(247, 130, 150);
    animation: both frontVideoClipPath, both frontVideoSaturation;
    animation-timeline: --hero-view;
    animation-range: exit-crossing;
    filter: saturate(0);
  }

  .hero .back-video video {
    animation: forwards backVideo;
    animation-timeline: --hero-view;
    animation-range: exit-crossing 0% exit-crossing 20%;
  }

  .hero .content .content-inner h2.first {
    animation: both titleOne;
    color: rgb(235, 83, 159);
    animation-timeline: --hero-view;
    animation-range: exit-crossing 0% exit-crossing 10%;
  }
  .hero .content .content-inner h2.second {
    animation: both titleTwo;
    color: rgb(235, 83, 159);
    animation-timeline: --hero-view;
    animation-range: exit-crossing 10% exit-crossing 70%;
  }
}

.hero .back-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(76, 235, 161);
  padding-top: 3px;
  padding-bottom: 3px;
  clip-path: polygon(
    47% 21%,
    100% 0,
    100% 55%,
    90% 94%,
    46% 100%,
    5% 93%,
    0% 12%
  );
}

.hero .back-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(
    47% 21%,
    100% 0,
    100% 55%,
    90% 94%,
    46% 100%,
    5% 93%,
    0% 12%
  );
}

.hero .front-video {
  width: 100%;
  height: 100vh;
  background-color: rgb(219, 76, 235);
  padding: 3px;
  clip-path: polygon(
    0% 0%,
    30% 0%,
    50% 15%,
    100% 15%,
    100% 80%,
    30% 100%,
    0% 50%
  );
}

.hero .front-video video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    30% 0%,
    50% 15%,
    100% 15%,
    100% 80%,
    30% 100%,
    0% 50%
  );
}

.hero .content {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  align-items: center;
}
.hero .content .content-inner {
  width: 1000px;
  max-width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.hero .content .content-inner h2 {
  font-size: 3.5rem;
  text-align: center;
}

@keyframes frontVideoClipPath {
  20% {
    clip-path: polygon(
      0% 0%,
      30% 0%,
      50% 0%,
      100% 0%,
      100% 100%,
      30% 100%,
      0% 100%
    );
  }

  to {
    clip-path: polygon(
      0% 0%,
      30% 0%,
      50% 0%,
      100% 0%,
      100% 90%,
      30% 100%,
      0% 90%
    );
  }
}

@keyframes frontVideoSaturation {
  20% {
    filter: saturate(0) blur(0px);
  }

  30% {
    filter: saturate(1.5) blur(0px);
  }

  50% {
    filter: saturate(1.5) blur(0px) invert(1);
  }

  90% {
    filter: saturate(0.2) blur(20px) invert(1);
  }
}

@media (prefers-reduced-motion) {
  .hero .front-video {
    animation: none;
  }
  .hero .front-video video {
    animation: none;
  }

  .hero .back-video {
    animation: none;
  }
  .hero .back-video video {
    animation: none;
  }

  .hero {
    height: 100vh;
  }

  .hero .content .content-inner h2.first {
    animation: none;
    color: rgb(255, 124, 248);
  }
  .hero .content .content-inner h2.second {
    animation: none;
    color: black;
  }
}

@keyframes frontVideoBorder {
  0% {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
  }

  20% {
    padding: 5px;
  }

  70% {
    padding-left: 0;
    padding-right: 0;
  }

  100% {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 3px;
  }
}

@keyframes backVideo {
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}

@keyframes titleOne {
  to {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes titleTwo {
  from {
    display: none;
    transform: scale(0);
    opacity: 0;
  }

  30%,
  70% {
    display: block;
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.3) rotate(5deg);
    opacity: 0;
  }
}
