body {
  background-color: #1d1d1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: gold;
  /* animation-delay: 2s; */
  /* animation-name: moveX; */
  /* animation-duration: 4s; */
  /* animation-iteration-count: 2; */
  /* animation-play-state: paused; */
  /* animation-direction: alternate; */
  /* animation-direction: reverse; */ /* inverte o sentido da animacao */
  /* animation-timing-function: ease-in-out; */
  /* animation: moveX 2s 1s ease-in-out infinite alternate forwards,
    bounce 0.2s 1s ease-in-out infinite alternate; */
  animation: moveX 2s 1s ease-in-out 3 alternate both;
  animation-composition: add;
  /* animation-fill-mode: forwards; */ /* mantem a animacao no ultimo frame */
  /* animation-fill-mode: backwards; */ /* aplica imediatamente os estilos do primeiro keyframe */
  /* transform: rotate(20deg); */
}

/* animation-composition: replace; -> na animacao a propriedade antiga é removida pela nova na animacao   */
/* animation-composition: add; -> a nova propriedade eh adicionada na animacao */
/* animation-composition: accumulate; -> a nova propriedade eh adicionada na propriedade antiga */

@keyframes moveX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100px);
  }

  50% {
    background-color: red;
    animation-composition: replace;
  }

  100% {
    transform: translateX(calc(100vw - 140px));
  }
}
/* 
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100px);
  }
} */

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
